.project-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  width: 550px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1em;
  color: black;
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 1em;
  margin-right: 1em;

  &:hover {
		cursor: pointer;
		opacity: 0.9;
	}

  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
  }

  .project-card-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }

  .project-card-user {
    position: absolute;
    right: 16px;
    top: -20px;
    width: 40px;
  }
}








